<v-container fluid fill-height>
  <v-layout align-center justify-center>
      <v-card class="elevation-4">
        <v-toolbar
        dark>
          <v-toolbar-title>Login</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-form>
            <v-text-field v-model="username" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
            <v-text-field v-model="password" id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="login">Login</v-btn>
        </v-card-actions>
      </v-card>
  </v-layout>
</v-container>

